#overlay {
	position: fixed;
	z-index: 100;
	top: 70px;
	width: 100%;
	height: 100%;
	display: none;
}
div#overlay_div{
        position: fixed;
        z-index: 100;
        top: 20%;
        left:20%;
        width: 60%;
        height: 60%;
}
.loading {
	clear: both;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #999;
	background-image: url('/yama/client/images/icons/loader.gif');
	opacity: 0.75;
}

.success {
	clear: both;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/yama/client/images/icons/success.png');
}

.error {
	clear: both;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/yama/client/images/icons/error.png');
}

#logo_uploading {
	float: left;
	width: 30px;
	height: 30px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
}

.notice-info {
	clear: both;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/yama/client/images/icons/info.png');
	display: none;
}

.notice-success {
	clear: both;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('/yama/client/images/icons/success.png');
	display: none;
}

.notice-warning {
	clear: both;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/yama/client/images/icons/warning.png');
	display: none;
}

.notice-error {
	clear: both;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/yama/client/images/icons/error.png');
	display: none;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.open {
	background-color: rgb(153, 250, 153);
}

.close {
	background-color: rgb(234, 250, 153);
}

label.error {
	width: 100%;
}

div.result_container {
	max-height: 400px;
	overflow-y: auto;
        clear:both;
}

div.result_item {
	margin: 2px;
	padding: 4px;
	background:none repeat scroll 0% 0% rgb(160,190,160);
	display: table-row;
	width: 98%;
}

div.hidden {
	display: none;
}

.selected {
	border: 2px solid #C9C9C9;
	background: #dd6;
}

div.result_head {
	margin: 2px;
	padding: 4px;
	background: #C9ffC9;
	display: table-header-group;
	font-weight: bold;
}

div.result_head_value {
	display: table-cell;
	list-style-type: none;
	border: 1px solid #900;
	padding: 2px;
}

div.result_caption{
	margin:2px;
	padding:4px;
	background: #C9ffC9;
        font-weight: bold;
}
div.result_item_options{
        float: right;
        margin: 0.8% 1%;
        top: 2px;
}

.result_item_options ul {
        margin: 0;
        padding: 0;
        float: right;
}

.result_item_options ul li {
        display: inline;

}

div.result_item_value {
	margin: auto 10px;
	display: table-cell;
	border: 1px solid #000;
	padding: 2px;
}

div.result_item_value #id {
	display: block;
	float: left;
	padding: 2px;
}

div.result_item_value_section {
	display: block;
	padding: 2px;
	min-height: 24px;
}

div.result_item_value_section_sub {
	display: inline-block;
	padding: 1%;
	min-height: 24px;
	min-width: 30%;
	margin: 0 auto;
}

div.result_item_value_section #date {
	display: block;
	font-size: 0.75em;
	color: rgb(80, 75, 75);
	padding: 2px;
	float: right;
}

div#date:hover {
	opacity: 1;
}

div.result_body {
	display: table-row-group;
	height: 400px;
}

div.table {
        clear:both;
	border: 1px solid #000;
	display: table;
	margin: auto;
	width: 100%;
}

ul.table {
	display: table;
	width: 100%;
	list-style-type: none;
}

div.loginDetails {
	overflow-y: scroll;
	width: 100%;
	height: 200px;
}

.tag {
        float:right;
	font-size: 10px;
	color: #888;
}

.mid_image {
	max-width: 40px;
	max-height: 40px;
}

.big_image {
	max-width: 100px;
	max-height: 100px;
}

.thumb {
	width: 15px;
	height: 15px;
}

.spacer {
	clear: both;
}

label {
	background-color: rgb(235, 240, 179);
	border-width: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: block;
	font-weight: bold;
	float: left;
	padding: 4px;
	margin: 2px;
	min-width: 80px;
	font-size:12px;
}

button,input[type=submit]{
    border-radius:8px;
        -webkit-border-radius:8px;
        padding:2px;
        min-width:60px;
        opacity: 0.8;
        font-size: 1.2em;
        color:#dbdbdb;
        background-color:#00236c;
        text-shadow: 0 1px 0 #909090;
        outline: 1px none #db3939;
        outline-offset: 3px;
        display:block;
    padding-top: 5px;
    text-align: center;

}
button:hover{
        opacity: 1;
}

button.details{
	font-size:0.8em;
        background: transparent url('/yama/client/images/icons/show.png') no-repeat left top;
        padding:0px;
}

div.searchform {
	clear: both;
	margin: 0 auto;
	padding: 10px;
}

div.createform {
	clear: both;
	margin: 0 auto;
	padding: 14px;
}

div.createform label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}

div.item {
	width: 49%;
	display: inline-block;
        font-size: 12px;
}
.panel{
	clear:both;
	padding:4px;
	border-top:3px solid #ccc;
}
div.text{
	padding:2px;
	border-width:2px;
	background-color: rgb(70, 120, 100);
        border-width: 2px;
        border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        font-size: 12px;
	color:#eeeeee	
}
div.center{
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}
div.desc{
	float:left;
	font-size:0.8em;
	margin: 1% 0.2%;
	
}
div.name{
	font-size:1.4em;
	float:left;
	margin: 0.8% 1%;
}
div.form_item {
	clear: both;
	min-height: 30px;
	display:inline-block;
	width:100%;
}

div.form_item label {
	text-align: right;
	background-color: rgb(235, 240, 179);
	border-width: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 30%;
	min-width:70px;
	padding-left: 6px;
	display:inline-block;
}

div.form_item input {
	text-align: left;
	min-width:80px;
}

div.form_item button {
	float: right;
}

#main {
	margin-left: auto;
	float: left;
	top: 80px;
	width: 78%;
}

#left {
	float: left;
	top: 80px;
	width: 20%;
}

div.block {
	background-color: rgb(169, 216, 205);
	border-width: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 8px;
	margin-bottom: 8px;
	padding-bottom: 4px;
	/*min-height: 200px;*/
	clear:both;
}
div.minblock {
        background-color: rgb(140, 190, 180);
        border-width: 2px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        margin-left: 4px;
        margin-bottom: 4px;
        padding-bottom: 4px;
        float:left;
        width:49%;
}

div.subblock {
        background-color: rgb(140, 190, 180);
        border-width: 2px;
        border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        margin-left: 2px;
        margin-bottom: 2px;
        padding-bottom: 1px;
	float:left;
	width:49%;
}
div.section {
        background-color: rgb(140, 190, 180);
        border-width: 2px;
        border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        margin: 2px;
        padding-bottom: 22px;
        float:left;
}

div.block_head {
	background-color: #eee;
	border-width: 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
}
div.subblock_head {
        background-color: #eee;
        border-width: 4px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 14px;
        padding: 4px;
	margin:4px;
}
div.section_head {
        background-color: #eee;
        border-width: 4px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 12px;
        padding: 6px;
}

.block_options {
	float: right;
	margin: 0.8% 1%;
	top: 2px;
	width: 100%;
}

.block_options ul {
	margin: 0;
	padding: 0;
	float: right;
}

.block_options ul li {
	display: inline;
}

.body {
	margin: 2px;
	padding: 2px;
}

.menu {
	float: right;
	margin: 0.8% 1%;
	top: 2px;
	height: 70px;
	width: 100%;
}

.menu ul {
	margin: 0;
	padding: 0;
	float: right;
}

.menu ul li {
	display: inline;
}

.menu ul li button {
	
}

.opts_result {
	display: none;
}

a.button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background-color: #dddddd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3',
		EndColorStr='#dddddd' );
	border-color: #000;
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	/*padding:6px 6px 4px;*/
	margin-left: 10px;
	/*font:12px; */
	opacity: 0.85;
	/*max-width: 125px;*/
	padding: 4px;
	float: right;
}

a.button:hover {
	background: #ddd;
	opacity: 1;
}
div.multi{
        overflow:auto;
	max-height:200px;
}
div.split{
	background-color: #eee;
        border-width: 1px;
        border-radius: 1px 1px 1px 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        padding: 1px;
	clear:both;

}
div.tabs ul{
	list-style:none;
	padding:0;
	margin:0;
}
div.tabs li{
	float:left;
	border:1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
}
div.tabs a{
	text-decoration:none;
	display:block;
	background:#eee;
	padding: 0.24em 1em;
	color: #00c;
	width: 8em;
	text-align: center;
}
div.tabs a:hover {
	background: #ddf;
}
div.tabs .selected {
	border-color: black;
}
div.tabs .selected a {
	position: relative;
	top: 1px;
	background: white;
	color: black;
	font-weight: bold;
}

.nav ul{
    display: block;
    list-style-type: none;
    margin: 0;
    width: auto;
}
.nav li{
        margin:0;
}
.nav li.active{
        border-bottom: 3px solid #00b8fd;
}
div.content{
    border-left: 8px solid rgba(63, 148, 148, 0.1);
    font-family: Cambria,Georgia,serif;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    margin: 0;
    padding-left: 15px;
    text-align: left;
}
